.cookie-consent-banner {
	display: grid;
	width: 100%;
	padding: 10px 20px 40px;

	&__inner {
		display: grid;
		grid-template-columns: 3fr 1fr 1fr 100px;
		grid-gap: 10px;

		&__message {
			align-self: center;
		}

		button {
			height: fit-content;
			width: fit-content;
			align-self: center;
			justify-self: end;
			background: var( --wp--preset--color--black );
			color: var( --wp--preset--color--white );
			border: 1px solid var( --wp--preset--color--cyan-bluish-gray );

			&:hover {
				background: var( --wp--preset--color--white );
				color: var( --wp--preset--color--black );
				border-top: 1px solid var( --wp--preset--color--cyan-bluish-gray );
			}

			&.close {
				grid-column-start: -1;
				margin-right: 30px;
				align-self: start;
				justify-self: end;
			}

			&.give-consent,
			&.revoke-consent {
				padding: 5px 10px;
			}
		}
	}
	&__updated {
		display: none;
		grid-template-columns: 1fr 10px;
		grid-gap: 10px;
		align-items: center;

		button {
			grid-column-start: -1;
			margin-right: 20px;
		}
	}
}