.cookie-consent-banner {
	display: none;
	max-width: 100%;
	width: 100%;
	background: var( --wp--preset--color--black );
	color: var( --wp--preset--color--white );
	border-top: 1px solid var( --wp--preset--color--cyan-bluish-gray );
	position: fixed;
	bottom: 0;
	z-index: 99;

	&__updated__close {
		background: transparent;
		padding: 3px;
		border: 1px solid rgba( 0, 0, 0, 0.4 );
		color: rgba( 0, 0, 0, 0.4 );
		&:hover {
			text-decoration: none;
		}
	}
}